<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>John Laffey</title>
        <meta name="description" content="This website is a portfolio I made for myself.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" href="static/images/laff.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topbox">
            <img class="cloud1" src="static/images/cloud.png" alt="">
            <h1>I'm John</h1>
            <h2 class="programmer">a <span><u>pro</u></span>grammer</h2>
            <img class="cloud2" src="static/images/cloud.png" alt="">
            <img class="mountain" src="static/images/mountain.png" alt="">
        </div>
        <div class="middle-container">
            <div class="profile">
              <img src="" alt="">
              <h2>Hello.</h2>
              <p>I am a Python Developer transitioning from a career teaching chemistry.<br>
                 I love coffee &#x2615 and all things STEM.
              </p>
              <img class="self" src="static/images/laff.png" alt="">
            </div>

        <div class="skills">
          <h2 class="myskills">My Skills</h2>
          <div class="skill-row">
            <img class="tux" src="static/images/tux.png" alt="">
            <h3>Design and Development</h3>
            <p>I started learning to code because as a chemistry teacher,
               I often found myself strapped for time. I learned python to automate menial tasks such as running statistics or finding parents I need to email through my grade book.
               Over time I've gained valuable experience and have found as much joy in coding as I have in chemistry.
            </p>
          </div>
          <div class="tutor-row">
            <img class="flask" src="static/images/flask.png" alt="">
            <h3>Struggling in Math or Chemistry?</h3>
            <p>My first love was chemistry and math. I still tutor chemistry and math through digital platforms such as google meet or zoom.
            </p>
          </div>
        </div>
            <div class="contact-me">
              <h2>Get In Touch</h2>
              <img class="email" src="static/images/mail.png" alt=""></a>
              <h3>If you'd like to reach me or need tutoring!</h3>
              <p>Send me a message and we can talk!</p>
              <a class="btn" href="mailto:john.laffey@pm.me">Contact Me</a>
            </div>
          </div>
          
          
          <div class="bottom-container">
            
            <a class="footer-link" href="https://www.linkedin.com/in/john-laffey-310972241/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/laffchem">Twitter</a>
            <a class="footer-link" href="https://www.github.com/laffchem">Github</a>
            <p class="copyright">© {{ year }} John Laffey</p>
          </div>
        
    </body>

        

</html>